
body {
    position: relative;
    cursor: url("./public/cursor_default.png"), auto;
    width: 100vw;
    height: 100vh;
}

a {
    cursor: url("./public/cursor_link.png"), pointer;
}

.cursor-item {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10px;
    width: 10px;
    /* background-color: orange;
    border: 2px red dashed; */
    opacity: 0.5;
    transition: all 0.2s ease-out;
}