
body {
    position: relative;
    cursor: url("./public/cursor_point.png"), auto;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

a {
    cursor: url("./public/cursor_point.png"), pointer;
}

.cursor-item {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10px;
    width: 10px;
    /* background-color: orange;
    border: 2px red dashed; */
    opacity: 0.5;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.cursor-item.my-cursor {
    transition: all 0.2s ease-out;
    opacity: 1;
}

.cursor-item img{
    top:0;
    left: 0;
}